body, header, section {
    width: 100%;
}
header h1 {
    font-size: 3em;
    text-align: center;
}
section > div {
    position: relative;
    height: 400px;
    border: 1px solid rgb(252, 240, 4);
    margin-bottom: 20px;
    background-size: cover;
    width: 100%;
}
section h2 {
    position: absolute;
    padding: 5px;
    font-size: 2em;
    text-shadow: 3px 3px 5px;
    right: 3%;
    bottom: 10px;
    color: white;  
}
#menu1 {
    background: url("../img/food4.jpg") no-repeat center;
}
#menu2 {
    background: url("../img/food2.jpg") no-repeat center;
}
#menu3 {
    background: url("../img/food5.jpg") no-repeat center;
}
#menu4 {
    background: url("../img/food1.jpg") no-repeat center;
}
#menu5 {
    background: url("../img/food16.png") no-repeat center;
}
footer {
    width: 100%;
    background-color: rgb(1, 1, 55);
    height: 100px;
}
footer p {
    font-size: 1.2em;
    color: whitesmoke;
    text-align: center;
    line-height: 100px;
}
@media all and (min-width:550px) {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #menu1, #menu2, #menu3, #menu4{
        width: 49%;
    }
    #menu5 {
        width: 100%;
    }
}
@media all and (min-width:1000px) {
    #menu1, #menu2, #menu3, #menu4{
        width: 33%;
    }
    #menu5 {
        width: 66%;
    }
}
