/* 전체 */
#wrapper {
    width: 100%;
}

/* header */
header {
    height: 60px;
    line-height: 60px;
}

/* 본문 */
section {
    height: 300px;
    background-color: cornsilk;
}

/* aside */
aside {
    background-color: rgb(185, 250, 252);
}

/* footer */
footer {
    height: 50px;
}